# build related items (tested or production binaries)
build.ps1
build.sh
local_build.sh
builds/

# binaries produced during testing
abbreviation
abbreviation.exe

# stuff that no one cares about
go.sum